<!-- Overdue Section -->
 <style>
  .todo-title {
  padding-right: 30px;
}
.todo-class{
  padding-right: 30px
}
 </style>
<section>
  <h5>Overdue (<span id="count-overdue"><%= overdue.length %></span>)</h5>
  <table>
   
    <tbody>
      <% overdue.forEach(todo => { %>
        <tr class="Todo-Item">
          <td><label for="todo-<%= todo.id %>"><%= todo.title %></label></td>
          <td><%= todo.dueDate %></td>
          <td>
            <input type="checkbox" id="todo-<%= todo.id %>" data-id="<%= todo.id %>"
              onchange="toggleCompletionStatus(<%= todo.id %>, this.checked)" />
          </td>
          <td>
            <button onclick="deleteTodo(<%= todo.id %>)">🗑</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<!-- Due Today Section -->
<section>
  <h5>Due Today (<span id="count-due-today"><%= dueToday.length %></span>)</h5>
  <table>
   
    <tbody>
      <% dueToday.forEach(todo => { %>
        <tr class="Todo-Item">
          <td class="todo-title"><label for="todo-<%= todo.id %>"><%= todo.title %></label></td>
          <td class="todo-date"><%= todo.dueDate %></td>

          <td>
            <input type="checkbox" id="todo-<%= todo.id %>" data-id="<%= todo.id %>"
              onchange="toggleCompletionStatus(<%= todo.id %>, this.checked)" />
          </td>
          <td>
            <button onclick="deleteTodo(<%= todo.id %>)">🗑</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<!-- Due Later Section -->
<section>
  <h5>Due Later (<span id="count-due-later"><%= dueLater.length %></span>)</h5>
  <table>
    
    <tbody>
      <% dueLater.forEach(todo => { %>
        <tr class="Todo-Item">
          <td class="todo-title"><label for="todo-<%= todo.id %>"><%= todo.title %></label></td>
          <td class="todo-date"><%= todo.dueDate %></td>
          <td>
            <input type="checkbox" id="todo-<%= todo.id %>" data-id="<%= todo.id %>"
              onchange="toggleCompletionStatus(<%= todo.id %>, this.checked)" />
          </td>
          <td>
            <button onclick="deleteTodo(<%= todo.id %>)">🗑</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<!-- Completed Items Section -->
<section>
  <h5>Completed Items (<span id="count-completed"><%= completed.length %></span>)</h5>
  <table>
    
    <tbody>
      <% completed.forEach(todo => { %>
        <tr class="Todo-Item">
          <td class="todo-title"><label for="todo-<%= todo.id %>"><%= todo.title %></label></td>
          <td class="todo-date"><%= todo.dueDate %></td>
          <td>
            <input type="checkbox" id="todo-<%= todo.id %>" data-id="<%= todo.id %>"
              checked onchange="toggleCompletionStatus(<%= todo.id %>, this.checked)" />
          </td>
          <td>
            <button onclick="deleteTodo(<%= todo.id %>)">🗑</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>